@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #ebebeb;
	line-height: 1.5;
	background-color: #252525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

section {
	padding: 3rem 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;
	border: 2px solid #ebebeb;
}

/* ---------------------------------- menù ---------------------------------- */
.main-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.main-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
}

.main-menu {
	display: none;
}

.main-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-menu a {
	color: #252525;
	text-decoration: none;
}

.menu-icon {
	background: transparent;
	color: white;
	border: 1px solid white;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	padding: 0;
}

.main-header.is-mobile-open .main-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.main-header.is-mobile-open .logo a,
.main-header.is-mobile-open .menu-icon {
	color: #252525;
	border-color: #252525;
	z-index: 1;
}

.main-header.is-mobile-open .main-menu ul {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	align-items: center;
}

/* -------------------------------- carosello ------------------------------- */

.carosello {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carosello a {
	color: #ebebeb;
	transition: all 0.2s;
}

.carosello a:hover {
	color: white;
}

.titolo {
	text-align: center;
}

.container-loc-bott {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.prev i,
.next i {
	font-size: 1.5rem;
}

.prev,
.next {
	background: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

.locandina {
	width: auto;
	height: 400px;
}

.attori {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-left: 0;
}

.attori li {
	margin-right: 0.5rem;
}

.attori li::after {
	content: "-";
	margin-left: 0.5rem;
}

.attori li:last-child {
	margin-right: 0;
}

.attori li:last-child::after {
	display: none;
}

.durata,
.anno,
.genere {
	text-align: center;
	margin: 0.5rem 0;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
	/* ---------------------------------- menù ---------------------------------- */
	.main-menu {
		display: block;
	}

	.main-menu ul {
		display: flex;
		align-items: center;
		column-gap: 1.5rem;
	}

	.main-menu a {
		color: white;
	}

	.menu-icon {
		display: none;
	}
}
